
<h2>Projects</h2>

<%= link_to "New Project", new_project_path, id: "new_link", :remote => true %>

<div class="projects" id="projects">
  <ul id="projects">
    <%= render @projects %>
  </ul>
</div>

<br />

